@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
} 

html{
  font-size: 100%;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo > p {
  font-size: 1.3rem;
  font-weight: 600;
}

.nav-links {
  display: none;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  font-weight: 400;
  font-size: 0.9rem;
}


.burger-img{
  width: 30px;
}



.hero {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.top-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.new {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 30px;
  width: 17.8rem;
  background-color: #191919;
  border-radius: 150px;
  padding: 5px;
  position: absolute;
  top: 6rem;
}

.new div:nth-of-type(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  font-weight: 600;
  border-radius: 15px;
  background-color: #25ab75;
  width: 2.5rem;
  height: 22px;
}

.new div:nth-of-type(2) {
  font-size: 0.7rem;
  font-weight: 400;
  margin-left: 10px;
}

.hero-img-small>img{
  width: 100%;
}


.calories {
  width: 7.5rem;
  height: 18rem;
  display: flex;
  flex-direction: column;
  align-self: self-end;
  gap: 1rem;
  margin-top: -25rem;
}

.calorie,
.time {
  width: 6rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  background-color: #191919;
  border-radius: 15px;
}

.calorie > h3,
.time > h3 {
  width: 4rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.calorie > p,
.time > p {
  width: 4rem;
  text-align: start;
  font-size: 0.6rem;
  font-weight: 300;
  color: #ffffff;
}

.calorie {
  color: #fb1351;
}

.time {
  color: #ffe642;
}

.top-content h1 {
  width: 15rem;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 50px;
  margin: 0 auto;
}

.summary {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 2rem;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 8rem;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  background-color: #25ab75;
  border: none;
  border-radius: 15px;
}

.grey {
  background-color: #191919;
}


.exercises {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}
.exercises-heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  margin: 3rem 0rem;
}
.exercises-heading > p {
  margin-top: 2rem;
  font-size: 0.7rem;
  font-weight: 300;
}

.exercises-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
}

.exercise-card {
  display: flex;
  flex-direction: column;
  width: 20rem;
}

.exercise-card > img {
  width: 20rem;
  height: auto;
  border-radius: 15px;
  margin-top: 2rem;
}

.exercise-details {
  margin-top: -5.1rem;
}

.exercise-details > p {
  margin-left: 1rem;
  font-size: 0.8rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.67);
}

.exercise-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.exercise-name > h2 {
  margin-left: 1rem;
}

.exercise-name > h3 {
  background-color: #000;
  font-size: 1.5rem;
  padding: 0.2rem 0.4rem;
  border-radius: 0px 0px 10px 0px;
}


.program-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 1rem;
}

.program-heading-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  line-height: 3.2rem;
  font-size: 3rem;
  font-weight: 600;
  z-index: 20;
}
.program-heading-left > p {
  position: relative;
  width: 15rem;
  z-index: 10;
  margin: 3rem 0rem;
}
.program-heading-left > img {
  position: absolute;
  width: 18rem;
  top: 11.5rem;
  z-index: 2;
}



.program-heading-right {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
  background-color: #191919;
}

.program-heading-right > p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.6rem;
  line-height: 3rem;
}

.images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  gap: 2rem;
}

.img-card {
  width: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
}
.img-container > img {
  width: 100%;
  margin-bottom: 1rem;
}





/* .big{
  width: 35rem;
} */


.img-details > h4 {
  font-size: 1.2rem;
  font-weight: 500;
}

.img-details>p{
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
}



.footer{
  margin-top: 20rem;
  padding: 1rem;
}

.links{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.link{
  position: relative;
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.34);
}

.link>h5{
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.34);
}

.link-content{
  margin-left: 10%;
}

.link-content>h3{
  font-size: 1.5rem;
  font-weight: 400;
}

.link-content>p{
  color: rgba(255, 255, 255, 0.5);;
  font-size: 0.9rem;
}

.link>img{
  position: absolute;
  height: 1rem;
  right: 0rem;
  float: left;
}